In [1]:
from Library import *

### This function load indexes data as dictionary i whitch, keys are indexes names and values are dataframes that contain informations Date,open,close,Hight,Low,Close,Adj Close,Volume

In [2]:
dfDictist,indexes_names=load_indexes("../Data/indexes")
dfDictist["SSEC"].head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-07-02,1255.909058,1261.571045,1147.331055,1199.061035,1199.061035,0.0
1,1997-07-03,1194.676025,1194.676025,1149.939941,1150.623047,1150.623047,0.0
2,1997-07-04,1138.921021,1163.249023,1124.776001,1159.342041,1159.342041,0.0
3,1997-07-07,1161.707031,1163.447021,1085.572021,1096.818970,1096.818970,0.0
4,1997-07-08,1092.798950,1115.432983,1066.043945,1109.666016,1109.666016,0.0

# Compute beta
we can compute beta matrix, by having a file that contain the timezone for each index, and a value of $\tho$

In [3]:
tho=3
beta=compute_beta("../Data/timezone.json",indexes_names,tho)

In [5]:
beta[:3,:3]

array([[1.        , 0.36787944, 0.02556153],
       [0.36787944, 1.        , 0.00940356],
       [0.02556153, 0.00940356, 1.        ]])